<nav class="breadcrumbs news-ioc breadcrumbContext">
      <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "https://www.olympic.org/news",
                  "name": "News"
                }
              }]
            }
      </script>
    <div class="holder">
      <ul>
        <li><span class="icon-arrow-left"></span> <a href="#">News</a></li>
      </ul>
    </div>
  </nav>
